employeeRepository/src/main/java/com/peerislands/www/employee/details/domain/contracts/employee.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="employee">
        <xs:complexType>
            <xs:sequence>
                <xs:element type="xs:string" name="name"/>
                <xs:element type="xs:integer" name="age"/>
                <xs:element type="xs:string" name="designation"/>
                <xs:element type="xs:string" name="qualification"/>
                <xs:sequence>
                    <xs:any maxOccurs="unbounded"/>
                </xs:sequence>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>